<%= render "shared/header" %>
<div class='movie-main'>
  <%# ピックアップタイトルの部分 %>
  <div class="container pickup_title">
    <h2 class="title"><span>PICKUPタイトル</span></h2>
  </div>

  <div id="carousel-2" class="carousel slide" data-interval="5000">
    <ol class="carousel-indicators">
      <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-2" data-slide-to="1"></li>
      <li data-target="#carousel-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <%= link_to image_tag("pickup1.jpeg", size: '900x500', alt: 'First slide'), root_path %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag("pickup2.jpeg", size: '900x500', alt: 'Second slide'), root_path %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag("pickup3.jpeg", size: '900x500', alt: 'Third slide'), root_path %>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    <%# ピックアップタイトルの部分 %>

  <%# 商品一覧 %>
  <div class='movie-contents container-fluid'>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <div class="row">

      <% @movies.each do |m| %>
        <div class='movie-lists, col-3'>

          <%= link_to movie_path(m.id) do %>
            <div class='movie-img-content, text-center'>
              <%= image_tag m.movie_image, class: "movie-img" %>
            </div>

            <div class='movie-info'>
              <h3 class='movie-name'>
                <%= m.movie_title %>
              </h3>
              <div class='movie-price'>
                <span><%= m.long %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
    </div> 
    <%= paginate @movies %>
  </div>
</div>
<%= render "shared/footer" %>