<%= render "shared/header" %>
<div class='movie-show' style="background: url(../images/red-curtain2.jpeg); background-size: cover; background-attachment: fixed; background-position: center center; padding: 10vh 0; min-height: 70vh;">
  <%# 作品の詳細 %>
  <div class="movie-box container-fluid">
    <div class="row">
      <div class="movie-img-content col-5">
        <%= image_tag @movie.movie_image ,class:"movie-box-img" %>
      </div>
      <div class="movie-show-content col-7">
        <table>
          <tr>
            <th><%= "タイトル" %></th>
            <td><%= @movie.movie_title %></td>
          <tr>
          <tr>
            <th><%= "あらすじ" %></th>
            <td width="500" height="200">
              <div style="height:200px; width:500px; overflow-y:auto;">
                <%= @movie.movie_text %>
              </div>
            </td>
          <tr>
          <tr>
            <th><%= "監督" %></th>
            <td><%= @movie.producer %></td>
          <tr>
          <tr>
            <th><%= "役者" %></th>
            <td><%= @movie.character %></td>
          <tr>
          <tr>
            <th><%= "長さ" %></th>
            <td><%= @movie.long %></td>
          <tr>
          <tr>
            <th><%= "公開日" %></th>
            <td><%= @movie.release_date.strftime("%Y / %m / %d ") %></td>
          <tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class='tag-list-show'>
        <% if @movie.tags.present? %>
          <span class="tag-title">登録タグ：</span><%= raw(@movie.tag_list.map { |t| link_to t, tag_path(t), class: "show-tag-btn text-white" }.join('&ensp;&ensp;')) %>
        <% else %>
          <p>登録しているタグはありません</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to "作品の編集", edit_movie_path(@movie.id), method: :get, class: "movie-orange-btn" %>
          <%= link_to "削除", movie_path(@movie.id), method: :delete, class:"movie-destroy" %>
      <% end %>
    </div>
    <div class="ave-review-title row">
      <%= @movie.movie_title %>のレビュー【平均値】
    </div>
    <div class="ave-review row">
      <div class="col-2"></div>
      <div class="col">
        <table align="center"  width="100%" class="review-table">
          <tr class="review-tr">
            <th class="review-th"><h4>ストーリー：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_story_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_story %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>衝撃：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_impact_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_impact %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>感動：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_impressed_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_impressed %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>楽しさ：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_happy_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_happy %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>登場人物：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_character_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_character %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>映像美(作画)：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_beautiful_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_beautiful %>点
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-2"></div>
    </div>
    <%# <div class="row">
      <table class="review-index-title">
        <tr class="review-index-tr">
          <th class="review-index-th"><h4>点数つけるとしたら？&ensp;&ensp;</h4></th> %>
          <%# <td class="review-index-td1"><h4>= @movie.avg_score点 / 100点（= @movie.reviews.count件のレビュー）</h4></td> %>
        <%# </tr>
      </table>
    </div> %>
    <div class="row">
      <%= link_to "レビューを書く", new_movie_review_path(@movie.id), method: :get, class: "movie-orange-btn text-white" %>
    </div>
  </div>
      <% @reviews.each do |review| %>
        <div class="index-review-content-each container-fluid">
          <% if user_signed_in? %>
            <% if (current_user.id == review.user_id) || current_user.admin? %>
              <div class="row">
                <%= link_to "削除", movie_review_path(review.movie_id, review.id), class:"review-destroy btn btn-outline-danger" %>
              </div>
            <% end %>
          <% end %>
          <table class="table is-fullwidth has-text-centered">
            <thead align="center">
              <tr>
                <th class="review-index-user">ユーザー</th>
                <th class="review-index-score">点数</th>
                <th class="review-index-text">内容</th>
                <th class="review-index-status">それぞれの評価</th>
              </tr>
            </thead>
            <tbody align="center">
              <tr>
                <td>
                  <%= link_to user_path(review.user.id) do %>
                    <%= review.user.nickname %><br>
                    <%= image_tag review.user.profile_image.variant(resize: '100x100'), class: "user-image" if review.user.profile_image.attached? %>
                    <%= image_tag "user_nil.png" , size: "100x100" unless review.user.profile_image.attached?  %>
                  <% end %>
                </td>
                <td><%= review.review_status.review_score %></td>
                <td align="left"><%= review.review_text %></td>
                <td>
                  <div class="review-index-content">
                    <table>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>ストーリー：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_story * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_story %>点</h6>
                        </td>
                      </tr>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>衝撃：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_impact * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_impact %>点</h6>
                        </td>
                      </tr>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>感動：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_impressed * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_impressed %>点</h6>
                        </td>
                      </tr>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>楽しさ：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_happy * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_happy %>点</h6>
                        </td>
                      </tr>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>登場人物：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_character * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_character %>点</h6>
                        </td>
                      </tr>
                      <tr class="review-index-content-tr">
                        <th class="review-index-content-th"><h6>映像美：</h6></th>
                        <td class="review-index-content-td1">
                          <div class="star-rating-content-index">
                            <div class="star-rating-index-front" style="width: <%= review.review_status.review_beautiful * 10 %>%">★★★★★★★★★★</div>
                            <div class="star-rating-index-back">★★★★★★★★★★</div>
                          </div>
                        </td>
                        <td class="review-index-td2">
                          <h6><%= review.review_status.review_beautiful %>点</h6>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
      <%= paginate @reviews %>
</div>
<%= render "shared/footer" %>
