<%= render "shared/header" %>
<div class='movie-show' style="background: url(../images/red-curtain2.jpeg); background-size: cover; background-attachment: fixed; background-position: center center; padding: 10vh 0;">
  <div class='margin'></div>
  <%# 商品の概要 %>
  <div class="movie-box container">
    <div class="row">
      <div class="movie-img-content col-5">
        <%= image_tag @movie.movie_image ,class:"movie-box-img" %>
      </div>
      <div class="movie-show-content col-7">
        <table>
          <tr>
            <th><%= "タイトル" %></th>
            <td><%= @movie.movie_title %></td>
          <tr>
          <tr>
            <th><%= "あらすじ" %></th>
            <td width="500" height="200">
              <div style="height:200px; width:500px; overflow-y:auto;">
                <%= @movie.movie_text %>
              </div>
            </td>
          <tr>
          <tr>
            <th><%= "監督" %></th>
            <td><%= @movie.producer %></td>
          <tr>
          <tr>
            <th><%= "役者" %></th>
            <td><%= @movie.character %></td>
          <tr>
          <tr>
            <th><%= "長さ" %></th>
            <td><%= @movie.long %></td>
          <tr>
          <tr>
            <th><%= "公開日" %></th>
            <td><%= @movie.release_date.strftime("%Y / %m / %d ") %></td>
          <tr>
        </table>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to "商品の編集", edit_movie_path(@movie.id), method: :get, class: "movie-red-btn" %>
          <%= link_to "削除", movie_reviews_path(@movie.id), method: :delete, class:"movie-destroy" %>
      <% end %>
    </div>
    <div class="ave-review-title row">
      <%= @movie.movie_title %>のレビュー（平均値）
    </div>
    <div class="ave-review row">
      <div class="col-2"></div>
      <div class="col">
        <table align="center"  width="100%" class="review-table">
          <tr class="review-tr">
            <th class="review-th"><h4>ストーリー：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_story_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_story %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>衝撃：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_impact_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_impact %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>感動：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_impressed_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_impressed %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>楽しさ：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_happy_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_happy %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>登場人物：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_character_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_character %>点
              </div>
            </td>
          </tr>
          <tr class="review-tr">
            <th class="review-th"><h4>映像美(作画)：</h4><th>
            <td class="review-td1">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @movie.review_beautiful_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-td2">
              <div class="average-score-display">
                <%= @movie.avg_beautiful %>点
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <%= link_to "レビューの詳細を見る", movie_reviews_path(@movie.id), method: :get, class: "movie-yellow-btn" %>
    </div>
    <div class="row">
      <%= link_to "レビューを書く", new_movie_review_path(@movie.id), method: :get, class: "movie-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
