<%= render "shared/header" %>
<div class='main'>
  <div class='margin'></div>
  <%# 商品の概要 %>
  <div class="movie-box container">
    <div class="row">
      <div class="movie-img-content col-5">
        <%= image_tag @movie.movie_image ,class:"movie-box-img" %>
      </div>
      <div class="movie-show-content col-7">
        <table>
          <tr>
            <th><%= "タイトル" %></th>
            <td><%= @movie.movie_title %></td>
          <tr>
          <tr>
            <th><%= "あらすじ" %></th>
            <td width="500" height="240">
              <div style="height:240px; width:500px; overflow-y:auto;">
                <%= @movie.movie_text %>
              </div>
            </td>
          <tr>
          <tr>
            <th><%= "監督" %></th>
            <td><%= @movie.producer %></td>
          <tr>
          <tr>
            <th><%= "役者" %></th>
            <td><%= @movie.character %></td>
          <tr>
          <tr>
            <th><%= "長さ" %></th>
            <td><%= @movie.long %></td>
          <tr>
          <tr>
            <th><%= "公開日" %></th>
            <td><%= @movie.release_date.strftime("%Y / %m / %d ") %></td>
          <tr>
        </table>
      </div>
    </div>

      <% if user_signed_in? && current_user.admin? %>
          <%= link_to "商品の編集", edit_movie_path(@movie.id), method: :get, class: "movie-red-btn" %>
          <%= link_to "削除", movie_path(@movie.id), method: :delete, class:"movie-destroy" %>
      <% end %>

      <div class="option">
        <div class="favorite-btn">
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
          <span>お気に入り 0</span>
        </div>
        <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <span>不適切な商品の通報</span>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer" %>
