<%= render "shared/header" %>
<div class='movie-show' style="background: url(../assets/red-curtain2.jpeg); background-size: cover; background-attachment: fixed; background-position: center center; padding: 10vh 0;">
  <div class='margin'></div>
  <%# 商品の概要 %>
  <div class="movie-box container">
    <div class="row">
      <div class="movie-img-content col-5">
        <%= image_tag @movie.movie_image ,class:"movie-box-img" %>
      </div>
      <div class="movie-show-content col-7">
        <table>
          <tr>
            <th><%= "タイトル" %></th>
            <td><%= @movie.movie_title %></td>
          <tr>
          <tr>
            <th><%= "あらすじ" %></th>
            <td width="500" height="200">
              <div style="height:200px; width:500px; overflow-y:auto;">
                <%= @movie.movie_text %>
              </div>
            </td>
          <tr>
          <tr>
            <th><%= "監督" %></th>
            <td><%= @movie.producer %></td>
          <tr>
          <tr>
            <th><%= "役者" %></th>
            <td><%= @movie.character %></td>
          <tr>
          <tr>
            <th><%= "長さ" %></th>
            <td><%= @movie.long %></td>
          <tr>
          <tr>
            <th><%= "公開日" %></th>
            <td><%= @movie.release_date.strftime("%Y / %m / %d ") %></td>
          <tr>
        </table>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to "商品の編集", edit_movie_path(@movie.id), method: :get, class: "movie-red-btn" %>
          <%= link_to "削除", movie_reviews_path(@movie.id), method: :delete, class:"movie-destroy" %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to "レビューを書く", new_movie_review_path(@movie.id), method: :get, class: "movie-red-btn" %>
    </div>
    <div class="row">
      <section class="section mt-6">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5">
              <div class="card mb-6">
                <header class="card-header">
                  <p class="card-header-title">
                    <%= @movie.movie_title %>
                  </p>
                </header>
                <div class="card-content">
                  <div class="content average-score">
                    <div class="star-rating mb-2">
                      <div class="star-rating-front" style="width: <%= @movie.review_score_percentage %>%">★★★★★</div>
                      <div class="star-rating-back">★★★★★</div>
                    </div>
                    <div class="average-score-display ml-3 pt-2">
                      <%= @movie.avg_score %>点（<%= @movie.reviews.count %>件のレビュー）
                    </div>
                  </div>
                </div>
              </div>
              <table class="table is-fullwidth has-text-centered">
                <thead>
                  <tr>
                    <th>ユーザー</th><th>点数</th><th>内容</th>
                  </tr>
                </thead>
                <tbody>
                  <% @reviews.each do |review| %>
                    <tr>
                      <td><%= review.user.nickname %></td>
                      <td><%= review.review_score %></td>
                      <td><%= review.review_text %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <%= link_to "レビュー一覧", movie_reviews_path(@movie.id), method: :get, class: "movie-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
