<%= render "shared/header" %>
<div class="index-review">
  <div class="user-show-content container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-6 user-show-nickname">
            <%= @user.nickname %>
          </div>
          <div class="col-6 user-show-image">
            <%= image_tag @user.profile_image.variant(resize: '200x200'), class: "user-image" if @user.profile_image.attached? %>
            <%= image_tag "user_nil.png" , size: "200x200" unless @user.profile_image.attached?  %>
          </div>
        </div>
        <div class="row user-show-profile">
          <h5 class="user-profile-title">プロフィール</h5>
          <h6><%= @user.profile %></h6>
        </div>
      </div>
      <div class="user-show-bar col-7">
        <% if user_signed_in? && current_user != @user %>
            <div id="follow-button" class="follow-button">
              <% if current_user.following?(@user) %>
                <%= render 'relationships/unfollow_button', user: @user %>
              <% else %>
                <%= render 'relationships/follow_button', user: @user %>
              <% end %>
            </div>
        <% end %>
        <%= bar_chart ({ "ストーリー": @user.avg_user_story, "衝撃": @user.avg_user_impact, "感動": @user.avg_user_impressed, "楽しさ": @user.avg_user_happy, "登場人物": @user.avg_user_character, "映像美": @user.avg_user_beautiful }), title: "ユーザーの注目度", xtitle: "注目度", ytitle: "ジャンル", min: 0, max: 10, height: "300px", width: "50vw" %>
        <div class="user-show-score">
          点数つけるとしたら？&ensp;&ensp;平均<%= @user.avg_user_score.round(0) %>点
          <span>
            <%# if @user.avg_user_score > 80 %>
            <%# end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% @reviews.each do |review| %>
    <div class="index-review-content-each container-fluid">
        <table class="table is-fullwidth has-text-centered">
          <thead align="center">
            <tr>
              <th class="review-index-user">評価した作品</th>
              <th class="review-index-score">点数</th>
              <th class="review-index-text">内容</th>
              <th class="review-index-status">それぞれの評価</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <td>
                <%= link_to movie_path(review.movie.id) do %>
                  <%= review.movie.movie_title %><br>
                  <%= image_tag review.movie.movie_image.variant(resize: '300x300'), class: "user-image" if review.user.profile_image.attached? %>
                  <%= image_tag "../images/no_image.jpeg" , size: "100x100" unless review.movie.movie_image.attached?  %>
                <% end %>
              </td>
              <td><%= review.review_status.review_score %></td>
              <td align="left"><%= review.review_text %></td>
              <td>
                <div class="review-index-content">
                  <table>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>ストーリー：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_story * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_story %>点</h6>
                      </td>
                    </tr>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>衝撃：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_impact * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_impact %>点</h6>
                      </td>
                    </tr>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>感動：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_impressed * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_impressed %>点</h6>
                      </td>
                    </tr>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>楽しさ：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_happy * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_happy %>点</h6>
                      </td>
                    </tr>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>登場人物：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_character * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_character %>点</h6>
                      </td>
                    </tr>
                    <tr class="review-index-content-tr">
                      <th class="review-index-content-th"><h6>映像美：</h6></th>
                      <td class="review-index-content-td1">
                        <div class="star-rating-content-index">
                          <div class="star-rating-index-front" style="width: <%= review.review_status.review_beautiful * 10 %>%">★★★★★★★★★★</div>
                          <div class="star-rating-index-back">★★★★★★★★★★</div>
                        </div>
                      </td>
                      <td class="review-index-td2">
                        <h6><%= review.review_status.review_beautiful %>点</h6>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  <% end %>
  <%= paginate @reviews %>
</div>
<%= render "shared/footer" %>