<%# 没 %>
<%= render "shared/header" %>
<div class="index-review">
  <div class="index-review-content container-fluid">
    <div class="row">
      <div class="movie-img-content col-4">
        <%= image_tag @movie.movie_image ,class:"review-index-box-img" %>
      </div>
      <div class="col-1"></div>
      <div class="review-index-movie col-6">
        <table class="review-index-title">
          <tr class="review-index-tr">
            <th class="review-index-th"><h4><%= "タイトル：" %></h4></th>
            <td class="review-index-td1"><h4><%= @movie.movie_title %></h4></td>
            <td class="review-index-td2"></td>
          </tr>
        </table>
        <table>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>ストーリー：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_story_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_story %>点
              </div>
            </td>
          </tr>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>衝撃：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_impact_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_impact %>点
              </div>
            </td>
          </tr>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>感動：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_impressed_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_impressed %>点
              </div>
            </td>
          </tr>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>楽しさ：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_happy_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_happy %>点
              </div>
            </td>
          </tr>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>登場人物：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_character_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_character %>点
              </div>
            </td>
          </tr>
          <tr class="review-index-tr">
            <th class="review-index-th"><h5>映像美(作画)：</h5></th>
            <td class="review-index-td1">
              <div class="star-rating-index">
                <div class="star-rating-index-front" style="width: <%= @movie.review_beautiful_percentage %>%">★★★★★★★★★★</div>
                <div class="star-rating-index-back">★★★★★★★★★★</div>
              </div>
            </td>
            <td class="review-index-td2">
              <div class="average-score-display">
                <%= @movie.avg_beautiful %>点
              </div>
            </td>
          </tr>
        </table>
        <table class="review-index-title">
          <tr class="review-index-tr">
            <th class="review-index-th"><h4>点数つけるとしたら？</h4></th>
            <td class="review-index-td1"><h4><%= @movie.avg_score %>点（<%= @movie.reviews.count %>件のレビュー）</h4></td>
          </tr>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

</div>
<%= render "shared/footer" %>
<%# 没 %>